<div *ngIf="showContent else ShowErrMsg">
	<div  class="pageBg" >
		<section>
			<div class="container" >
					<div class="row">
				<div class="col-lg-12" >
					<div class="heading">
						<h1 class="tar">Trade Account Registration</h1>
						<h2 class="text">ARCHITECTS + INTERIOR DESIGNERS + REALTORS + CONTRACTORS + DEVELOPERS</h2>
						<h2 class="text2">Open a trade account to receive special trade discounts and promotions</h2>
						<hr class="intro-divider">
					</div>
					<div class="row">
						<div class="col-lg-4">
							<div class="card">
								<div class="card-body">
									<a [routerLink]="['/new/'+wid+'/422605715']">
										<img class="card-img-top" src="./assets/img/architects.jpg" alt="Card image cap">
									</a>
								</div>
								<h5 class="card-title"><a [routerLink]="['/new/'+wid+'/422605715']">Architects Registration</a></h5>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="card">
								<div class="card-body">
									<a [routerLink]="['/new/'+wid+'/422605718']">
										<img class="card-img-top" src="./assets/img/interior-designers.jpg" alt="Card image cap">
									</a>
								</div>
								<h5 class="card-title"><a [routerLink]="['/new/'+wid+'/422605718']">Interior Designers Registration</a></h5>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="card">
								<div class="card-body">
									<a [routerLink]="['/new/'+wid+'/422605717']">
										<img class="card-img-top" src="./assets/img/realtors.jpg" alt="Card image cap">
									</a>	
								</div>
								<h5 class="card-title"><a [routerLink]="['/new/'+wid+'/422605717']">Realtors Registration</a></h5>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="card">
								<div class="card-body">
									<a [routerLink]="['/new/'+wid+'/422605719']">
										<img class="card-img-top" src="./assets/img/contractors.jpg" alt="Card image cap">
									</a>
								</div>
								<h5 class="card-title"><a [routerLink]="['/new/'+wid+'/422605719']">Contractors Registration</a></h5>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="card">
								<div class="card-body">
									<a [routerLink]="['/new/'+wid+'/422605720']">
										<img class="card-img-top" src="./assets/img/developers.jpg" alt="Card image cap">
									</a>
								</div>
								<h5 class="card-title"><a [routerLink]="['/new/'+wid+'/422605720']">Developers Registration</a></h5>
							</div>
						</div>
					
					</div>
				</div>
					</div>
				<div class="col-lg-12">
				
				
				</div>
				
				
			</div>
			
		
			</section> 
		<footer class="footer container">
			<!-- <span class="ver">Version 2.0.9</span> -->
		</footer>
		</div>
</div>
<ng-template #ShowErrMsg>
	<div class="alert alert-danger" role="alert" style="margin: 0px 25%">
		Invalid Request!
	</div>
</ng-template>