/* @import url('../fonts/fonts.css'); */
body{font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
line-height: 1.846;}
.pageBg {
    background-image: url(/assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #F8F8F8;
overflow-x: hidden;}
.pageBg .heading{padding-top:5%;}
.intro-divider {
    width: 70%;
    border-bottom: solid 3px #333;
    margin-top: 30px;
margin-bottom: 23px;}
.tar{font-size: 38px;
    font-weight: 400;
    text-align: center;}
.text {
    font-size: 18px;
    text-align: center;}
.text2 {
    font-size: 18px;
    text-align: center;
    margin-top: 0;}
.card{border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    box-shadow: 0 1px 4px rgba(0,0,0,0.3); margin-bottom:30px;}
.card-body{padding:15px;}
.card-title{border-top: 1px solid #dddddd;
    text-align: center;font-size: 13px;
    padding-top: 5px;   }
.card-title a{color:#666;}.card-title a{text-decoration:none;}
.card-img-top{border-top-left-radius: 0px;
    border-top-right-radius: 0px;}
.footer{margin-top: 45px;
    padding-top: 35px;
    padding-bottom: 36px;
border-top: 1px solid #E5E5E5;}
.ver {
    display: block;
    text-align: center;
width: 100%;}
	